 {% extends "base.html" %}
 {% load humanize %}
{% block content %}
  <!-- Page Content -->
  <div class="container" ng-controller="ProductCtrl" ng-cloak>

        <!-- Jumbotron Header -->

        <hr>

        <div class="row">
            <div class="col-lg-12" align="center">
                <h3>Nuestros Productos</h3>
            </div>
        </div>
        <br>
        <br>
        <!-- /.row -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature" ng-repeat="product in products_all">
                <div class="thumbnail">
                    <img src="/media/<%product.fields.image %> " alt="" style="width: 300px;height:150px;">

                    <div class="caption">
                        <h3> <% product.fields.name %> </h3>
                        <p style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" >
                            <% product.fields.description%>
                        </p>
                        <h3 style="color: #CC2525;"> <%product.fields.price | currency  %></h3>
                        <a href="javascript:;" ng-click="addToCar(product)" class="btn btn-success">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            Comprar
                        </a> 
                        <a href="javascript:;" class="btn btn-primary" ng-click="goDetail(product)">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            Ver mas 
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="detail" ng-controller="ProductCtrl"tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header"style=" background-color: #337AB7;
                    color: white;
                    text-transform: uppercase;" >
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><% $parent.detail_product.fields.name %></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6" style=" text-align: center; ">
                                <img src="/media/<%$parent.detail_product.fields.image %> " alt="" 
                                style="width: 100%;height:150px;">

                                <div class="caption">
                                    <h3> <% $parent.detail_product.fields.name %> </h3>
                                    <h3 style="color: #CC2525;"> <%$parent.detail_product.fields.price | currency  %></h3>
                                </div>
                        </div>
                   <div class="col-md-6">
                       <h3 style="margin: 0px"> Descripción </h3>
                       <p>
                           <% $parent.detail_product.fields.description%>
                       </p>
                       <h3> Caracteristicas </h3>
                        <p >
                            <% $parent.detail_product.fields.feature%>
                        </p>
                        <h3>Cantidad </h3>
                        <input type="number" min="1" max="$parent.detail_product.fields.stock"  
                        style="width: 65px;" ng-model="quantity" 
                        ng-init="quantity=1">
</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"style="float: left;"  class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" ng-click="addTOItemDetail($parent.detail_product,quantity) ">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Agregar al carrito
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}

    <!-- /.container -->
{% block extrajs %}

<script type="text/javascript">
    var products = {{products_json| safe}};

</script>

{% endblock %}
